<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<!--
<header class="image-bg-fluid-height">
    <img class="img-responsive img-center" src="http://placehold.it/200x200&text=Logo" alt="">
</header>
-->
<section id="home" class='image-bg-fluid-height'>
        <h1 class="section-heading"> Welcome to LeanPortal </h1>
</section>

<!-- Content Section -->
<section id="survey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h2 class="section-heading"> Survey </h2>
                <p class="lead section-lead">Please enter the following.  Leave blank if no answer</p>
                <div class="section-paragraph">
                  <%= render "form" %>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Swapifi Technologies 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>

