<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<section id="home" class='image-bg-fluid-height'>
  <div class="container-fluid">
    <div class='row-fluid'>
      <div class="centering text-center">
        <h1> Leanportal coming soon! </h1> <br>
          <div class='lead'>
          Please help us out by filling out the quick survey below!

          <br>
          We will pick two winners for a $50 starbucks gift card if you put in your email.
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content Section -->
<section id="survey">
    <div class="container-fluid">
        <div class="row-fluid">
          <div class='spinner'>
            <div class='dot1'></div>
            <div class='dot2'></div>
           </div>
            <div class="col-lg-12">
              <div class='centering text-center'>
              <h1> Survey </h1>
              <p> Leanportal is looking to learn more about the events students attend in terms of conferences/events <br> 
                Please enter the following.  Leave blank if no answer<p>
                <div id="survey-form">
                  <%= render "form" %>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class='footer-font'>Copyright &copy; Swapifi Technologies 2016</div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>

