// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}


#survey-form input {
  outline:none;
  background: none;
  border: none;
  border-bottom-style: solid;
  border-width: 2px;
  text-align: center;
}

#survey-form {
  line-height: 40px;
  font-size: 1.0em;
}

section {
  color: white;
  height: 100%;
  background-color: #4a90e2;
  position: relative;
}

footer {
  background-color: lightblue;
}

h1, h2, h3, h4, h5 {
  font-family: 'Hindi Siliguri', sans-serif;
}

p, form {
  font-family: 'Sumana', serif;
}

.footer-font {
  font-family: 'Indie Flower', cursive;
}


.alert {
  margin-bottom: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding:0;
}

.row-fluid {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.centering {
  float: none;
  margin: 0 auto;
}

.container-fluid {
  height: 100%;
  display: table;
  width: 100%;
  padding: 0;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 5.0em;
  }
  .lead {
    font-size: 2.0em;
  }
  p {
    font-size: 1.5em;
  }
  #survey-form {
  line-height: 40px;
  font-size: 1.2em;
  }
}

@media (max-width: 400px) {
  p {
    font-size: 0.75em;
  }
  #survey-form {
    line-height: normal;
    font-size: 12px;
  }
}
